numpy
tqdm
psutil
packaging
pre-commit
rich
click
fabric
contexttimer
ninja
torch>=1.12
safetensors
einops
pydantic
ray
sentencepiece
google
protobuf
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
